# Troubleshooting Errors

These problems go along with the material presented in the <a href="../lectures/Troubleshooting Errors.ipynb">Troubleshooting Errors</a> notebook.

For the following code chunks determine the error and remedy it.

1.

You need to indent following a colon in the `for` loop.

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

2.

There is an argument, `n`, that you are missing.

In [2]:
def remove_end(text, n):
    return text[:-n]

In [3]:
remove_end("clip of the last four characters", 4)

'clip of the last four charac'

3.

All indentations on a given level need to be the same.

In [4]:
summation = 0

for i in range(5):
    summation = summation + 1
    print("Running sum", summation)

Running sum 1
Running sum 2
Running sum 3
Running sum 4
Running sum 5

4.

`example_list` is not a function, so it cannot be followed by parentheses. You are likely trying to access the entry at the `4` position, so you need square brackets.

In [5]:
example_list = [1, 2, 3, 4, 5]

example_list[4]

5

5.

You cannot change an entry in a `tuple` because they are immutable. You would need `example_tuple` to be a mutable object, like a `list`.

In [6]:
example_tuple = (1, 2, 3, 4)
example_list = list(example_tuple)

example_list[2] = 888

example_list

[1, 2, 888, 4]

6.

In [7]:
from numpy import random

7.

When combining logical conditions in a `.loc` subsetting you need to place the unique logical conditions in parentheses.

In [8]:
import pandas as pd
df = pd.read_csv("../data/study_results.csv")

df.head(2)

  sex treatment  age  recovery
0   F         A   19        12
1   F         A   21         2

In [9]:
df.loc[(df.sex=='M') & (df.age>30)]

    sex treatment  age  recovery
65    M         A   39         5
66    M         A   40        12
67    M         A   42         6
68    M         A   43         2
69    M         A   43         5
70    M         A   43        10
71    M         A   45         9
72    M         A   49         4
73    M         A   51        14
74    M         A   54         5
75    M         A   58         9
76    M         A   61         5
77    M         A   61         9
78    M         A   61        11
79    M         A   63         2
90    M         B   33        10
91    M         B   38         2
92    M         B   40         2
93    M         B   41         7
94    M         B   45         6
95    M         B   48         6
96    M         B   49         6
97    M         B   52         9
98    M         B   55         3
99    M         B   56        14
106   M         C   32        11
107   M         C   33         7
108   M         C   34         3
109   M         C   39         4
110   M         C   39        10
111   M         C   42         5
112   M         C   56        12
113   M         C   57         4
114   M         C   59         9
115   M         C   59        14
116   M         C   61        11
117   M         C   61        13
118   M         C   62         8
119   M         C   64         7

8.

`.read_csv` has no `index` argument, you are probably thinking of `.to_csv`.

In [10]:
df = pd.read_csv("../data/study_results.csv")

--------------------------

This notebook was written for the Erd&#337;s Institute C&#337;de Data Science Boot Camp by Matthew Osborne, Ph. D., 2023.

Any potential redistributors must seek and receive permission from Matthew Tyler Osborne, Ph.D. prior to redistribution. Redistribution of the material contained in this repository is conditional on acknowledgement of Matthew Tyler Osborne, Ph.D.'s original authorship and sponsorship of the Erd≈ës Institute as subject to the license (see License.md)