# Data File Types

Data can come in many different forms and, for our purposes, can be stored in various formats. In this notebook we will touch on some of the different file types you may encounter.

## What we will accomplish

In this notebook we will discuss the following file types:
- Basic text or `.txt` files,
- Comma separated values or `.csv` files,
- Tab separated values or `.tsv` files,
- JavaScript object notation or `.json` files,
- Columnar data, or `.parquete` files,
- Zipped drives and
- Compressed tar files.

## Uncompressed files

### Basic .txt files

A file that ends in `.txt` is a text file. This is a file that contains sequences of characters (letters, numbers, special characters, etc.) that is readable by a computer. To see an example of this file type open `sample_text_file.txt` from the `data` folder.

These files are often used to store text based data like transcripts, essays, raw (meaning no meta-data) tweets and more. You can open and read these files using `open()` as described in <a href="Reading and Writing to File.ipynb">Reading and Writing to File</a>.

### .csv files

A `.csv` or comma separated values file, sometimes called a <i>comma delimited file</i>, is a file containing data organized into columns and rows. Each column in the file is separated by a `,` and each row is placed on a new line within the file. We can think of these as a table of data represented in a text file. For an example see `sample_csv_file.csv` in the `data` folder.


While we can also read these in using `open`, it is easier to use something like `pandas`. See the code below where we read in `sample_csv_file.csv` using the `.read_csv()` function, <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html">https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html</a>.

In [1]:
## importing pandas as pd
import pandas as pd

In [2]:
pd.read_csv("../data/sample_csv_file.csv")

   column_1 column_2  column_3
0         1        a         8
1         2        b         5
2         3        c         3
3         4        d         2
4         5        e         7

### .tsv files

A `.tsv` or tab separated values file, sometimes called <i>tab delimited file</i>, is identical to a `.csv` file where the columns of data are separated with tabs or `\t` characters. For an example see `sample_tsv_file.tsv` in the `data` folder.

These can be read in using the `.read_table()` function in `pandas`, <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_table.html">https://pandas.pydata.org/docs/reference/api/pandas.read_table.html</a>.

In [4]:
pd.read_table("../data/sample_tsv_file.tsv")

   column_1 column_2  column_3
0         1        a         8
1         2        b         5
2         3        c         3
3         4        d         2
4         5        e         7

### JSON files

A `.json` or JavaScript object notation file is a file type that stores data the way it is typically transported between applications and servers online. The structure of the JSON format is quite similar to that of a Python dictionary (`dict`), as we will soon see. To look at an example open `miserables.json`, which is a JSON file taken from the d3.js GitHub repository, <a href="https://github.com/d3/d3-plugins/blob/master/graph/data/miserables.json">https://github.com/d3/d3-plugins/blob/master/graph/data/miserables.json</a>. This file stores the characters from the novel <u>Les Miserables</u> by Victor Hugo as a series of nodes and links in order to describe a character network. Here each node is a character in the novel and a link between A and B represents the number of chapters in which characters A and B both appear.

We can load in this file using `open()` and the `json` module.

In [5]:
## Import json
import json

In [8]:
file = open("../data/miserables.json", "r")

## we can load in the data with json.load()
les_mis = json.load(file)

file.close()

In [9]:
## As we can see the data is read in as a dictionary
les_mis

{'nodes': [{'name': 'Myriel', 'group': 1},
  {'name': 'Napoleon', 'group': 1},
  {'name': 'Mlle.Baptistine', 'group': 1},
  {'name': 'Mme.Magloire', 'group': 1},
  {'name': 'CountessdeLo', 'group': 1},
  {'name': 'Geborand', 'group': 1},
  {'name': 'Champtercier', 'group': 1},
  {'name': 'Cravatte', 'group': 1},
  {'name': 'Count', 'group': 1},
  {'name': 'OldMan', 'group': 1},
  {'name': 'Labarre', 'group': 2},
  {'name': 'Valjean', 'group': 2},
  {'name': 'Marguerite', 'group': 3},
  {'name': 'Mme.deR', 'group': 2},
  {'name': 'Isabeau', 'group': 2},
  {'name': 'Gervais', 'group': 2},
  {'name': 'Tholomyes', 'group': 3},
  {'name': 'Listolier', 'group': 3},
  {'name': 'Fameuil', 'group': 3},
  {'name': 'Blacheville', 'group': 3},
  {'name': 'Favourite', 'group': 3},
  {'name': 'Dahlia', 'group': 3},
  {'name': 'Zephine', 'group': 3},
  {'name': 'Fantine', 'group': 3},
  {'name': 'Mme.Thenardier', 'group': 4},
  {'name': 'Thenardier', 'group': 4},
  {'name': 'Cosette', 'group': 5},
  {'name': 'Javert', 'group': 4},
  {'name': 'Fauchelevent', 'group': 0},
  {'name': 'Bamatabois', 'group': 2},
  {'name': 'Perpetue', 'group': 3},
  {'name': 'Simplice', 'group': 2},
  {'name': 'Scaufflaire', 'group': 2},
  {'name': 'Woman1', 'group': 2},
  {'name': 'Judge', 'group': 2},
  {'name': 'Champmathieu', 'group': 2},
  {'name': 'Brevet', 'group': 2},
  {'name': 'Chenildieu', 'group': 2},
  {'name': 'Cochepaille', 'group': 2},
  {'name': 'Pontmercy', 'group': 4},
  {'name': 'Boulatruelle', 'group': 6},
  {'name': 'Eponine', 'group': 4},
  {'name': 'Anzelma', 'group': 4},
  {'name': 'Woman2', 'group': 5},
  {'name': 'MotherInnocent', 'group': 0},
  {'name': 'Gribier', 'group': 0},
  {'name': 'Jondrette', 'group': 7},
  {'name': 'Mme.Burgon', 'group': 7},
  {'name': 'Gavroche', 'group': 8},
  {'name': 'Gillenormand', 'group': 5},
  {'name': 'Magnon', 'group': 5},
  {'name': 'Mlle.Gillenormand', 'group': 5},
  {'name': 'Mme.Pontmercy', 'group': 5},
  {'name': 'Mlle.Vaubois', 'group': 5},
  {'name': 'Lt.Gillenormand', 'group': 5},
  {'name': 'Marius', 'group': 8},
  {'name': 'BaronessT', 'group': 5},
  {'name': 'Mabeuf', 'group': 8},
  {'name': 'Enjolras', 'group': 8},
  {'name': 'Combeferre', 'group': 8},
  {'name': 'Prouvaire', 'group': 8},
  {'name': 'Feuilly', 'group': 8},
  {'name': 'Courfeyrac', 'group': 8},
  {'name': 'Bahorel', 'group': 8},
  {'name': 'Bossuet', 'group': 8},
  {'name': 'Joly', 'group': 8},
  {'name': 'Grantaire', 'group': 8},
  {'name': 'MotherPlutarch', 'group': 0},
  {'name': 'Gueulemer', 'group': 4},
  {'name': 'Babet', 'group': 4},
  {'name': 'Claquesous', 'group': 4},
  {'name': 'Montparnasse', 'group': 4},
  {'name': 'Toussaint', 'group': 5},
  {'name': 'Child1', 'group': 10},
  {'name': 'Child2', 'group': 10},
  {'name': 'Brujon', 'group': 4},
  {'name': 'Mme.Hucheloup', 'group': 8}],
 'links': [{'source': 1, 'target': 0, 'value': 1},
  {'source': 2, 'target': 0, 'value': 8},
  {'source': 3, 'target': 0, 'value': 10},
  {'source': 3, 'target': 2, 'value': 6},
  {'source': 4, 'target': 0, 'value': 1},
  {'source': 5, 'target': 0, 'value': 1},
  {'source': 6, 'target': 0, 'value': 1},
  {'source': 7, 'target': 0, 'value': 1},
  {'source': 8, 'target': 0, 'value': 2},
  {'source': 0, 'target': 0, 'value': 1},
  {'source': 11, 'target': 10, 'value': 1},
  {'source': 11, 'target': 3, 'value': 3},
  {'source': 11, 'target': 2, 'value': 3},
  {'source': 11, 'target': 0, 'value': 5},
  {'source': 12, 'target': 11, 'value': 1},
  {'source': 13, 'target': 11, 'value': 1},
  {'source': 14, 'target': 11, 'value': 1},
  {'source': 15, 'target': 11, 'value': 1},
  {'source': 17, 'target': 16, 'value': 4},
  {'source': 18, 'target': 16, 'value': 4},
  {'source': 18, 'target': 17, 'value': 4},
  {'source': 19, 'target': 16, 'value': 4},
  {'source': 19, 'target': 17, 'value': 4},
  {'source': 19, 'target': 18, 'value': 4},
  {'source': 20, 'target': 16, 'value': 3},
  {'source': 20, 'target': 17, 'value': 3},
  {'source': 20, 'target': 18, 'value': 3},
  {'source': 20, 'target': 19, 'value': 4},
  {'source': 21, 'target': 16, 'value': 3},
  {'source': 21, 'target': 17, 'value': 3},
  {'source': 21, 'target': 18, 'value': 3},
  {'source': 21, 'target': 19, 'value': 3},
  {'source': 21, 'target': 20, 'value': 5},
  {'source': 22, 'target': 16, 'value': 3},
  {'source': 22, 'target': 17, 'value': 3},
  {'source': 22, 'target': 18, 'value': 3},
  {'source': 22, 'target': 19, 'value': 3},
  {'source': 22, 'target': 20, 'value': 4},
  {'source': 22, 'target': 21, 'value': 4},
  {'source': 23, 'target': 16, 'value': 3},
  {'source': 23, 'target': 17, 'value': 3},
  {'source': 23, 'target': 18, 'value': 3},
  {'source': 23, 'target': 19, 'value': 3},
  {'source': 23, 'target': 20, 'value': 4},
  {'source': 23, 'target': 21, 'value': 4},
  {'source': 23, 'target': 22, 'value': 4},
  {'source': 23, 'target': 12, 'value': 2},
  {'source': 23, 'target': 11, 'value': 0},
  {'source': 24, 'target': 23, 'value': 2},
  {'source': 24, 'target': 11, 'value': 7},
  {'source': 25, 'target': 24, 'value': 13},
  {'source': 25, 'target': 23, 'value': 1},
  {'source': 25, 'target': 11, 'value': 12},
  {'source': 26, 'target': 24, 'value': 4},
  {'source': 26, 'target': 11, 'value': 31},
  {'source': 26, 'target': 16, 'value': 1},
  {'source': 26, 'target': 25, 'value': 1},
  {'source': 27, 'target': 11, 'value': 17},
  {'source': 27, 'target': 23, 'value': 5},
  {'source': 27, 'target': 25, 'value': 5},
  {'source': 27, 'target': 24, 'value': 1},
  {'source': 27, 'target': 26, 'value': 1},
  {'source': 28, 'target': 11, 'value': 8},
  {'source': 28, 'target': 27, 'value': 1},
  {'source': 29, 'target': 23, 'value': 1},
  {'source': 29, 'target': 27, 'value': 1},
  {'source': 29, 'target': 11, 'value': 2},
  {'source': 30, 'target': 23, 'value': 1},
  {'source': 31, 'target': 30, 'value': 2},
  {'source': 31, 'target': 11, 'value': 3},
  {'source': 31, 'target': 23, 'value': 2},
  {'source': 31, 'target': 27, 'value': 1},
  {'source': 32, 'target': 11, 'value': 1},
  {'source': 33, 'target': 11, 'value': 2},
  {'source': 33, 'target': 27, 'value': 1},
  {'source': 34, 'target': 11, 'value': 3},
  {'source': 34, 'target': 29, 'value': 2},
  {'source': 35, 'target': 11, 'value': 3},
  {'source': 35, 'target': 34, 'value': 3},
  {'source': 35, 'target': 29, 'value': 2},
  {'source': 36, 'target': 34, 'value': 2},
  {'source': 36, 'target': 35, 'value': 2},
  {'source': 36, 'target': 11, 'value': 2},
  {'source': 36, 'target': 29, 'value': 1},
  {'source': 37, 'target': 34, 'value': 2},
  {'source': 37, 'target': 35, 'value': 2},
  {'source': 37, 'target': 36, 'value': 2},
  {'source': 37, 'target': 11, 'value': 2},
  {'source': 37, 'target': 29, 'value': 1},
  {'source': 38, 'target': 34, 'value': 2},
  {'source': 38, 'target': 35, 'value': 2},
  {'source': 38, 'target': 36, 'value': 2},
  {'source': 38, 'target': 37, 'value': 2},
  {'source': 38, 'target': 11, 'value': 2},
  {'source': 38, 'target': 29, 'value': 1},
  {'source': 39, 'target': 25, 'value': 1},
  {'source': 40, 'target': 25, 'value': 1},
  {'source': 41, 'target': 24, 'value': 2},
  {'source': 41, 'target': 25, 'value': 3},
  {'source': 42, 'target': 41, 'value': 2},
  {'source': 42, 'target': 25, 'value': 2},
  {'source': 42, 'target': 24, 'value': 1},
  {'source': 43, 'target': 11, 'value': 3},
  {'source': 43, 'target': 26, 'value': 1},
  {'source': 43, 'target': 27, 'value': 1},
  {'source': 44, 'target': 28, 'value': 3},
  {'source': 44, 'target': 11, 'value': 1},
  {'source': 45, 'target': 28, 'value': 2},
  {'source': 47, 'target': 46, 'value': 1},
  {'source': 48, 'target': 47, 'value': 2},
  {'source': 48, 'target': 25, 'value': 1},
  {'source': 48, 'target': 27, 'value': 1},
  {'source': 48, 'target': 11, 'value': 1},
  {'source': 49, 'target': 26, 'value': 3},
  {'source': 49, 'target': 11, 'value': 2},
  {'source': 50, 'target': 49, 'value': 1},
  {'source': 50, 'target': 24, 'value': 1},
  {'source': 51, 'target': 49, 'value': 0},
  {'source': 51, 'target': 26, 'value': 2},
  {'source': 51, 'target': 11, 'value': 2},
  {'source': 52, 'target': 51, 'value': 1},
  {'source': 52, 'target': 39, 'value': 1},
  {'source': 53, 'target': 51, 'value': 1},
  {'source': 54, 'target': 51, 'value': 2},
  {'source': 54, 'target': 49, 'value': 1},
  {'source': 54, 'target': 26, 'value': 1},
  {'source': 55, 'target': 51, 'value': 6},
  {'source': 55, 'target': 49, 'value': 12},
  {'source': 55, 'target': 39, 'value': 1},
  {'source': 55, 'target': 54, 'value': 1},
  {'source': 55, 'target': 26, 'value': 21},
  {'source': 55, 'target': 11, 'value': 19},
  {'source': 55, 'target': 16, 'value': 1},
  {'source': 55, 'target': 25, 'value': 2},
  {'source': 55, 'target': 41, 'value': 5},
  {'source': 55, 'target': 48, 'value': 4},
  {'source': 56, 'target': 49, 'value': 1},
  {'source': 56, 'target': 55, 'value': 1},
  {'source': 57, 'target': 55, 'value': 1},
  {'source': 57, 'target': 41, 'value': 1},
  {'source': 57, 'target': 48, 'value': 1},
  {'source': 58, 'target': 55, 'value': 7},
  {'source': 58, 'target': 48, 'value': 7},
  {'source': 58, 'target': 27, 'value': 6},
  {'source': 58, 'target': 57, 'value': 1},
  {'source': 58, 'target': 11, 'value': 4},
  {'source': 59, 'target': 58, 'value': 15},
  {'source': 59, 'target': 55, 'value': 5},
  {'source': 59, 'target': 48, 'value': 6},
  {'source': 59, 'target': 57, 'value': 2},
  {'source': 60, 'target': 48, 'value': 1},
  {'source': 60, 'target': 58, 'value': 4},
  {'source': 60, 'target': 59, 'value': 2},
  {'source': 61, 'target': 48, 'value': 2},
  {'source': 61, 'target': 58, 'value': 6},
  {'source': 61, 'target': 60, 'value': 2},
  {'source': 61, 'target': 59, 'value': 5},
  {'source': 61, 'target': 57, 'value': 1},
  {'source': 61, 'target': 55, 'value': 1},
  {'source': 62, 'target': 55, 'value': 0},
  {'source': 62, 'target': 58, 'value': 17},
  {'source': 62, 'target': 59, 'value': 13},
  {'source': 62, 'target': 48, 'value': 7},
  {'source': 62, 'target': 57, 'value': 2},
  {'source': 62, 'target': 41, 'value': 1},
  {'source': 62, 'target': 61, 'value': 6},
  {'source': 62, 'target': 60, 'value': 3},
  {'source': 63, 'target': 59, 'value': 5},
  {'source': 63, 'target': 48, 'value': 5},
  {'source': 63, 'target': 62, 'value': 6},
  {'source': 63, 'target': 57, 'value': 2},
  {'source': 63, 'target': 58, 'value': 4},
  {'source': 63, 'target': 61, 'value': 3},
  {'source': 63, 'target': 60, 'value': 2},
  {'source': 63, 'target': 55, 'value': 1},
  {'source': 64, 'target': 55, 'value': 5},
  {'source': 64, 'target': 62, 'value': 12},
  {'source': 64, 'target': 48, 'value': 5},
  {'source': 64, 'target': 63, 'value': 4},
  {'source': 64, 'target': 58, 'value': 10},
  {'source': 64, 'target': 61, 'value': 6},
  {'source': 64, 'target': 60, 'value': 2},
  {'source': 64, 'target': 59, 'value': 0},
  {'source': 64, 'target': 57, 'value': 1},
  {'source': 64, 'target': 11, 'value': 1},
  {'source': 65, 'target': 63, 'value': 5},
  {'source': 65, 'target': 64, 'value': 7},
  {'source': 65, 'target': 48, 'value': 3},
  {'source': 65, 'target': 62, 'value': 5},
  {'source': 65, 'target': 58, 'value': 5},
  {'source': 65, 'target': 61, 'value': 5},
  {'source': 65, 'target': 60, 'value': 2},
  {'source': 65, 'target': 59, 'value': 5},
  {'source': 65, 'target': 57, 'value': 1},
  {'source': 65, 'target': 55, 'value': 2},
  {'source': 66, 'target': 64, 'value': 3},
  {'source': 66, 'target': 58, 'value': 3},
  {'source': 66, 'target': 59, 'value': 1},
  {'source': 66, 'target': 62, 'value': 2},
  {'source': 66, 'target': 65, 'value': 2},
  {'source': 66, 'target': 48, 'value': 1},
  {'source': 66, 'target': 63, 'value': 1},
  {'source': 66, 'target': 61, 'value': 1},
  {'source': 66, 'target': 60, 'value': 1},
  {'source': 67, 'target': 57, 'value': 3},
  {'source': 68, 'target': 25, 'value': 5},
  {'source': 68, 'target': 11, 'value': 1},
  {'source': 68, 'target': 24, 'value': 1},
  {'source': 68, 'target': 27, 'value': 1},
  {'source': 68, 'target': 48, 'value': 1},
  {'source': 68, 'target': 41, 'value': 1},
  {'source': 69, 'target': 25, 'value': 6},
  {'source': 69, 'target': 68, 'value': 6},
  {'source': 69, 'target': 11, 'value': 1},
  {'source': 69, 'target': 24, 'value': 1},
  {'source': 69, 'target': 27, 'value': 2},
  {'source': 69, 'target': 48, 'value': 1},
  {'source': 69, 'target': 41, 'value': 1},
  {'source': 70, 'target': 25, 'value': 4},
  {'source': 70, 'target': 69, 'value': 4},
  {'source': 70, 'target': 68, 'value': 4},
  {'source': 70, 'target': 11, 'value': 1},
  {'source': 70, 'target': 24, 'value': 1},
  {'source': 70, 'target': 27, 'value': 1},
  {'source': 70, 'target': 41, 'value': 1},
  {'source': 70, 'target': 58, 'value': 1},
  {'source': 71, 'target': 27, 'value': 1},
  {'source': 71, 'target': 69, 'value': 2},
  {'source': 71, 'target': 68, 'value': 2},
  {'source': 71, 'target': 70, 'value': 2},
  {'source': 71, 'target': 11, 'value': 1},
  {'source': 71, 'target': 48, 'value': 1},
  {'source': 71, 'target': 41, 'value': 1},
  {'source': 71, 'target': 25, 'value': 1},
  {'source': 72, 'target': 26, 'value': 2},
  {'source': 72, 'target': 27, 'value': 1},
  {'source': 72, 'target': 11, 'value': 1},
  {'source': 73, 'target': 48, 'value': 2},
  {'source': 74, 'target': 48, 'value': 2},
  {'source': 74, 'target': 73, 'value': 3},
  {'source': 75, 'target': 69, 'value': 3},
  {'source': 75, 'target': 68, 'value': 3},
  {'source': 75, 'target': 25, 'value': 3},
  {'source': 75, 'target': 48, 'value': 1},
  {'source': 75, 'target': 41, 'value': 1},
  {'source': 75, 'target': 70, 'value': 1},
  {'source': 75, 'target': 71, 'value': 1},
  {'source': 76, 'target': 64, 'value': 1},
  {'source': 76, 'target': 65, 'value': 1},
  {'source': 76, 'target': 66, 'value': 1},
  {'source': 76, 'target': 63, 'value': 1},
  {'source': 76, 'target': 62, 'value': 1},
  {'source': 76, 'target': 48, 'value': 1},
  {'source': 76, 'target': 58, 'value': 1}]}

In [10]:
## see :)
type(les_mis)

dict

### Parquet files

Parquet files (`.parquet`) present a different way of storing data that can siginificantly improve on the query speed, memory requirements, and some calculations when compared to other file types like `.csv` and `.tsv`.

File types like `.csv` and `.tsv` are row-based data storage approaches, that is each row represents an observation and each column a variable. Parquet takes what's known as a columnar approach to storing data. In columnar data storage each row represents a variable and each column represents an observation.

For example `sample_csv_file.csv` looks like this in storage:

`column_1, column_2, column_3`

`1, 'a', 8`

`2, 'b', 5`

`3, 'c', 3`

`4, 'd', 2`

`5, 'e', 7`.


The equivalent `.parquet` file would theoretically look like this in storage:


`column_1: 1, 2, 3, 4, 5`

`column_2: 'a', 'b', 'c', 'd', 'e'`

`column_3: 8, 5, 3, 2, 7`

however, we are unable to open a `.parquet` file with a text editor and see such a file.

Columnar formats have advantages in storage of large data files because they can be encoded in ways that row-based formats cannot that greatly reduce the amount of data that needs to be stored.

For our purposes, we can read in a `.parquet` file with `pandas` `read_parquet` function, <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_parquet.html">https://pandas.pydata.org/docs/reference/api/pandas.read_parquet.html</a>. Note that when we read in a `.parquet` file in this way, it is converted to the standard row-based format of a `pandas` `DataFrame`. Note, that in order to use `read_parquet` you have to have `pyarrow` or `fastparquet` installed:
- `pyarrow` installation instructions: <a href="https://arrow.apache.org/docs/python/install.html">https://arrow.apache.org/docs/python/install.html</a>
- `fastparquet` installation instructions: <a href="https://github.com/dask/fastparquet/#installation">https://github.com/dask/fastparquet/#installation</a>.

If you are unsure on how to install a python package, you cand see more using the python package installation guide on the python prep Erd&#337;s Institute website.

In [11]:
pd.read_parquet("../data/sample_parquet_file.parquet")

   column_1 column_2  column_3
0         1        a         8
1         2        b         5
2         3        c         3
3         4        d         2
4         5        e         7

The parquet format is actually a little more complicated than what was presented above, but that is a good introduction. If you would like to learn more about `.parquet` files check out the optional notebook, <a href="Parquet Files (Optional).ipynb">Parquet Files (Optional)</a>.

## Compressed file types

If you have a particularly large set of data, perhaps spanning multiple files, it is likely that you will initially recieve it in a compressed format. In order to access the data you will first need to uncompress the files. Let's review how to do so for two of the most popular compressed file types.

### Zipped files

You have most likely encountered these before. Zipped files are those that end with `.zip`. To uncompress these you can do the following:

#### MacOS

Double click on the `.zip` file in the Finder.

#### Windows

Locate the `.zip` file and double click.

#### Linux

To uncompress a `.zip` file on a Linux machine follow the instructions at this post, <a href="https://linuxize.com/post/how-to-unzip-files-in-linux/">https://linuxize.com/post/how-to-unzip-files-in-linux/</a>.

You can practice using the `example.zip` file in the `data` folder.

### Tar files

Another very popular compression file type is known as a <i>tar file</i> or <i>tarball</i>. These files end in a `.tar` or `.tar.gz`.

These can be uncompressed like so:

#### MacOS

You can double click the file, or execute `tar -xzf file_name.tar.gz` or `tar -xf file_name.tar` in the command prompt, depending on how the filename ends. Note, this assumes you are in the correct directory on your computer.

#### Windows

Follow instructions found on <a href="https://www.7-zip.org/">https://www.7-zip.org/</a>. This piece of software will enable you to extract the data in a tar file.

#### Linux

Follow the command prompt instructions under the MacOS header.


You can practice this using the `example.tar.gz` file in the `data` folder.

We now know of the most common data file types. Let's move on and learn how we might find some data files of our own.

--------------------------

This notebook was written for the Erd&#337;s Institute C&#337;de Data Science Boot Camp by Matthew Osborne, Ph. D., 2023.

Any potential redistributors must seek and receive permission from Matthew Tyler Osborne, Ph.D. prior to redistribution. Redistribution of the material contained in this repository is conditional on acknowledgement of Matthew Tyler Osborne, Ph.D.'s original authorship and sponsorship of the Erd≈ës Institute as subject to the license (see License.md)